.category {
	display: flex;
	flex-direction: column;

	h2 {
		text-transform: uppercase;
		margin: 10px auto;
	}

	.items-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
	}
}
